<?xml version="1.0" encoding="UTF-8"?>
<!-- configuration 有多个属性，常用的有：name（配置名）
status（是否记录log4j2本身的event信息，默认是OFF，
可选值有： "trace", "debug", "info", "warn", "error" and "fatal"）
dest（错误流输出位置，标准错误流、文件或远程邮件发送）
strict（是否使用strict xml形式，configuration支持concise(简约)和strict(严格)两种模式的xml。
简约模式下，使得文件编写起来更简洁） -->
<configuration status="OFF">
    <!-- 定义如下几个引用名，用于后面配置文件中使用 -->
    <Properties>
        <property name="log_pattern">%d{yyyy-MM-dd HH:mm:ss z} %-5level %class{37}%L%M - %msg%xEx%n
</property><!-- 日志输出格式 -->
        <property name="log-path">${web:rootDir}/logs</property><!-- ${web:rootDir}是项目根目录 -->
        <property name="every_file_size">5M</property><!-- 日志切割的最小单位 -->
        <property name="output_log_level">debug</property><!-- 日志输出级别 -->
    </Properties>
 
    <!-- 先定义所有的appender(日志输出位置) -->
    <appenders>
 
        <!-- 输出到控制台 name: 当前appender名 target: 目的位置-->
        <Console name="Console" target="SYSTEM_OUT">
            <!-- ThresholdFilter: 用于定义过滤机制 -->
            <!-- level: 日志过滤级别 -->
            <!-- onMatch="ACCEPT"：保留level 及以上级别的日志 -->
            <!-- onMismatch="DENY"：丢掉level 以下级别的日志-->
            <!-- onMatch 和 onMissmatch 可选值为：ACCEPT DENY NEUTRAL-->
            <ThresholdFilter level="trace" onMatch="ACCEPT" onMismatch="DENY" />
 
            <!--这个都知道是输出日志的格式 -->
            <PatternLayout pattern="${log_pattern}" />
        </Console>
    </appenders>
 
    <!-- 定义logger，只有定义了logger并引入之前定义的appender，appender才会生效 -->
    <loggers>
        <!--建立一个默认的root的logger，需要在root的level中指定输出的级别， -->
        <root level="${output_log_level}">
            <appender-ref ref="Console" />
        </root>
    </loggers>
 
</configuration>